
@{
    ViewBag.Title = "Главная";
}
<h1>Администратор БД</h1>
<p>
    @Html.ActionLink("Таблицы", "Index", "Resources", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Меню", "Index", "Menu", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>